@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(#cccccc,#cccccc);
}

main {
  min-height: 90vh;
  /* position: relative; */
}



.footer-text{
  font-size: 18px;
    font-family: 'Macondo',
    cursive;
}

.profile{
  position: absolute;
  color: blue;
  right: 20px;
  top: 100%;
  width: 250px;
  height: 230px;
  background-color: white;
  border: 1px solid grey;
  box-shadow:0 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  display: flex;
  z-index: 10;
}


.profile::after {
  content: "";
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 25px solid white;
  position: absolute;
  top: -10%;
  right: 8%;
}

.header{
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-family: 'Macondo',
    cursive;
}

.form{
  width: 80%;
  height: 80%;
  margin: 35px auto;
  /* background-color: violet; */
  text-align: center;
}

.textField{
  width: 86%;
  /* background-color: turquoise; */
}

.todo-container {
  /* background-color: bisque; */
  width: 90%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.todocard{
  width: auto;
  height: 180px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  position: relative;
  cursor: pointer;
   font-family: 'Macondo',
   cursive;
}

.todocard:hover #buttons {
    visibility: visible;
} 

p{
  font-size: 20px;
  font-weight: 300;
}



#buttons {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   position: absolute;
   width: 90%;
   bottom: 0;
   margin-left: 5%;
   visibility: hidden;
   /* background-color: aquamarine; */
}
#buttons .btns{
  margin: 0 20%;
  border-radius: 10%;
}

.title {
  text-align: center;
  width: 75%;
  margin: 16px auto;
  padding-top: 16px;
  /* background-color: burlywood; */
  border-bottom: 1px solid grey;
  position: static;
}

.para {

  width: 75%;
  margin: 0 auto;
  margin-top: 5px;
  /* background-color: blueviolet; */

}


/* Add To do  */

form.create-note {
  position: relative;
  width: 40%;
  margin: 10px auto 20px auto;
  background: #fff;
  padding: 10px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
   font-family: 'Macondo',
   cursive;
   font-size: larger;
}

form.create-note input,
form.create-note textarea {
  width: 100%;
  height: auto;
  border: none;
  padding: 4px 5px;
  outline: none;
  font-size: 1.2em;
  margin: 5px;
}

form.create-note input {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2)
}

form.create-note textarea {
  overflow-y: auto
}

form .button {
  position: absolute;
  left: 45%;
  bottom: -25px;
  color: white;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form .button:hover {
  background-color: #ffe227;
  color: black;
}



@media (max-width: 1000px) {
  form.create-note {
    width: 80%;
    padding: 10px;
  }

  form.create-note input,
  form.create-note textarea {
    font-size: 1em;
  }
}

@media (max-width: 600px) {
  form .button {
    left: 43%;
  }
}












.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}


@media screen and (max-width: 800px) {
  .form {
    margin: 0 auto;
    width: 70%
  }
}
